@import "/styles/variables";

.base {
    width: 50%;
    padding: 24px;
    line-height: 1.5;
    background-color: $color-dark-secondary;
    border-radius: 16px;
    margin: 20px;
}

.header {
    display: flex;
}

.title {
    font-weight: $font-weight-heavy;
    font-size: $font-size-lg;
    margin-bottom: 12px;
}

.link {
    padding: 2.5px 12px;
    &:hover {
        cursor: pointer;
    }
}

.description {
    font-size: $font-size-sm;
}

@media (max-width: 550px) {
    .base {
        width: 100%;
    }
}