@import "/styles/variables";

.base {
    width: 1280px;
    margin: 0 auto;
    @media (max-width: 1280px) {
        width: 100%;
      }
}

.column-container {
    display: flex;
}

.left-column {
    margin-top: 400px;
    padding: 0 6vw;
    width: 50vw;
    text-align: center;
}

.right-column {
    padding: 0 6vw;
    width: 50vw;
    text-align: center;
}

.column-break {
    margin: 100px auto;
}

.circle {
    height: 40px;
    width: 40px;
    border: 2px solid $color-light;
    border-radius: 99px;
}

.line {
    height: 300px;
    width: 2px;
    background-color: $color-light;
    margin: 0 auto;
}

.space-below {
    padding-bottom: 540px;

}
