@import "/styles/variables";


.base {
    display: flex;
}

.container {
    display: flex;
    margin-left: auto;
    align-items: center;
}

.link {
    margin: 16px;
    padding: 8px 4px;
    transition: 0.2s ease-in-out;
    &:hover {
        cursor: pointer;
        transform: scale(1.3);
        border-bottom: 1px solid $color-light;
    }
}

.icon {
    margin: 16px;
    padding: 8px 4px;
    transition: 0.2s ease-in-out;
    &:hover {
        cursor: pointer;
        transform: scale(1.3);
    }
}

@media (max-width: 550px) {
    .icon {
        margin: 16px 8px;
        padding: 8px 0px;
    }
    .link {
        margin: 16px 8px;
        padding: 8px 0px;
    }
}