@import "/styles/variables";

.base {
    margin: 200px 8px 20px;
    text-align: right;
    font-size: $font-size-sm;
    color: $color-med;
}

@media (min-width: 550px) {
    .base {
        margin: 200px 20px 20px;
    }
}